<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("slide-01.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Share your group expenses</h1>
              <p class="lead">It's never been easier to share expenses among friends and room mates. Just add your expense once and application will take care of settlement. Add your expense and forget.</p>
              <%= link_to "Register today", "/users/sign_up", :class => "btn btn-large btn-primary" %>
            </div>
          </div>
        </div>
        <div class="item">
          
          <%= image_tag("slide-02.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>Monitor your personal expense</h1>
              <p class="lead">Now you don't have to worry about messed up account statement. This system gives better monitoring for your expenses (personal and shared expenses)</p>
              <a class="btn btn-large btn-primary" href="users/sign_in">Sign In</a>
            </div>
          </div>
        </div>
        <!--<div class="item active">
          <%= image_tag("slide-03.jpg") %>
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
            </div>
          </div>
        </div>-->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>


<div class="container marketing">
  <div class="row">
        <div class="span4">
          <!--<img class="img-circle" data-src="holder.js/140x140">-->
          <h2>Responsive Design</h2>
          <p>Optimal viewing experince regardless of which device you are using to access this website. Use of twitter bootstrap tools for responsive behaviour.</p>
          <p><a class="btn" href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">Learn more »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <!--<img class="img-circle" data-src="holder.js/140x140">-->
          <h2>Open sourced</h2>
          <p>Code is open sourced for every one to see. Any one can build upon this piece of code and extend this application to suit their particular needs.</p>
          <p><a class="btn" href="https://github.com/kashyap-bhatt15/expense_manager" target="_blank">View Code »</a></p>
        </div><!-- /.span4 -->
        <div class="span4">
          <!--<img class="img-circle" data-src="holder.js/140x140">-->
          <h2>Use of latest tools</h2>
          <p>Use of Ruby, Ruby on Rails(3.2), HTML5, CSS3, Twitter bootstrap, Google chart, Heroku, Git, Github, MongoDB, JavaScript, jQuery like latest tools.</p>
          <p><a class="btn" href="mailto:kpbhatt@mail.fresnostate.edu" target="_blank">Ask for report »</a></p>
        </div><!-- /.span4 -->
      </div>
</div>