<div class="container">
<p class="pull-right">
	<a href="#">Back to top</a>
</p>
<p class="muted">Developed By: Kashyap Bhatt</p>

<p class="pull-right">
	<a href="https://github.com/kashyap-bhatt15/expense_manager" target="_blank">Codebase</a>
</p>
<p class="muted">Graduate Student at FresnoState</p>
</div>